<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Student</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
</div>
<div class="modal-body">
    @if (loading) {
        <span>Loading...</span>
    } @else {
        <form>
            <div class="mb-3">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name">
            </div>

            <div class="mb-3">
                <label for="age">Age</label>
                <input type="number" class="form-control" id="age" [(ngModel)]="age" name="age">
            </div>
        </form>
    }
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="registerStudent()">Save</button>
</div>
