<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Grade</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
</div>
<div class="modal-body">
    @if (loading) {
        <span>Loading...</span>
    } @else {
        <form>
            <div class="mb-3">
                <label for="subject">Subject</label>
                <input type="text" class="form-control" id="subject" [(ngModel)]="subject" name="subject">
            </div>

            <div class="mb-3">
                <label for="grade">Grade</label>
                <input type="number" class="form-control" id="grade" [(ngModel)]="grade" name="grade">
            </div>
        </form>
    }
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="registerStudentGrade()">Save</button>
</div>
