<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <h3>Student List</h3>
    <button class="btn btn-primary" (click)="openRegisterStudentModal()">New Student</button>
  </div>

  @if (loading) {
    <div class="text-muted">Loading...</div>
  } @else if (!students.length) {
    <div class="alert alert-info">
      No students found.
    </div>
  } @else {
    <table class="table table-bordered mt-3">
      <thead class="table-light">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Age</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (student of students; track student.id) {
        <tr>
          <td>{{ student.id }}</td>
          <td>{{ student.name }}</td>
          <td>{{ student.age }}</td>
          <td>
            <button class="btn btn-primary" (click)="openStudentGradesModal(student.id)">Grades</button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  }
</div>
